# Ignorar todo por defecto
*

# Excepción para el propio .gitignore
!.gitignore

# Permitir que Git explore carpetas
!*/

# Archivos HTML, CSS y JS
!*.html
!*.css
!*.js

# Carpetas img y fonts con todo su contenido
!img/
!img/**
!fonts/
!fonts/**

# SEO y rastreo
!robots.txt
!sitemap.xml

